@if(ticketService.showBookingTicket) {
  <div class="booking-page">
    <div class="event-title">
      {{ticketService.event.name}}
    </div>
    <div class="numberOfSeatsInput">
      <span>Number of seats</span>
      <div class="inputGroup">
        <button (click)="decrementSeats()">&minus;</button>
        <input type="text" [(ngModel)]="numberOfSeats">
        <button (click)="incrementSeats()">&plus;</button>
      </div>
    </div>
    <div class="amount">
      @if(amount == 0) {
        <span class="money">Free Entry</span>
      } @else {
        <span>Amount to be paid</span>
        <span class="money">₹ {{amount}}</span>
      }  
    </div>
    <div class="buttons">
      <div class="close-button" (click)="closeTicket()">
        Close Booking
      </div>
      <div class="proceed-button" (click)="bookTicket()">
        Proceed
      </div>
    </div>
  </div>
} @else {
  @if(ticketService.showBookedTicket) {
    <div class="booked-ticket">
        <div class="event-title">
          {{ticketService.bookedTicket.event!.name}}
        </div>
        <div class="ticket-reference">
          <div>
            <p>Venue: {{ticketService.bookedTicket.event!.venue}}</p>
            <p>Time: {{ticketService.bookedTicket.event!.time | date:'h:mm a'}}</p>
          </div>
          @if(ticketService.qrCode === 'no-qr') {
            <div class="spinner-border" role="status" style="animation-duration: 1.5s;">
              <span class="visually-hidden">Loading...</span>
            </div>
          } @else {
            <img src={{ticketService.qrCode}} alt="QrCode" title="" />
          }
        </div>
        <div class="booking-sentence">
          Booking done on {{ticketService.bookedTicket.purchaseDate | date:'MMM d,y'}}
          at {{ticketService.bookedTicket.purchaseTime | date:'h:mm a'}}
        </div>
        
        <div class="bottom">
          <div class="number-of-seats">
            Number of Seats: {{ticketService.bookedTicket.numberOfSeats}}
          </div>
          <div class="amount-paid">
            @if(ticketService.bookedTicket.amountPaid == 0) {
              Free Entry
            } @else {
              Amount paid: ₹ {{ticketService.bookedTicket.amountPaid}} 
            }
          </div>
        </div>
        <div class="buttons">
          <div class="close-button" (click)="closeTicket()">
            Close Ticket
          </div>
          <div class="cancel-button" (click)="cancelTicket()">
            Cancel
          </div>
        </div>
    </div>
  } @else {
    
  }
}