.events-display {
  width:1475px;
  margin: 30px auto;
  display: grid;
  gap: 25px 25px;
  grid-template-columns: 350px 350px 350px 350px;
}

app-event {
  width: 350px;
  background-color: white;
  padding:15px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.2);
  transition: all 0.3s;
}

app-event:hover {
  cursor: default;
  transform: scale(105%,105%);
}

.no-event img {
  width: 200px;
}

.no-event h2 {
  font-family:'Courier New', Courier, cursive;
  font-weight: bolder;
  font-size: 30px;
  margin: 10px 0px;
  color:#0000F5;
}
.no-event {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px 0px 20px 20px;
  width: fit-content;
}

app-ticket {
  height: 400px;
  width: 600px;
  position: fixed;
  top: 150px;
  left: 450px;
  background-color: white;
  box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.2);
  border-radius: 15px;
}

.my-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.my-events-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.my-events-title-left {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.upcomingOrAttended {
  margin: 20px;
}

.upcomingOrAttended span {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.upcomingOrAttended span:hover {
  cursor: pointer;
}

.createEventButton button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  color:white;
  background-color: rgb(27, 201, 27);
  border:none;
  margin-right: 50px;
}
