.text-center {
  position: relative;
  width: 350px;
  margin: 0 auto;
  top: 150px;
}

 .loading-text {
  position: absolute;
  left:80px;
  top: 150px;
} 

.loading-text h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 35px;
}